**/.DS_Store

target
**/target/
# Do not exclude "target" paths that are under source. "Target" there probably refers to inventory targets.
!**/src/**/target/**

# Excluding gradle build paths
build

# vim/emacs temp files
*.swp
*.swo
*~
*.log*


# Excluding IDE files
**/*.iml
*.iml
**/*.ipr
*.ipr
**/*.iws
*.iws
**/*.ids
*.ids
**/.idea/
.idea
**/.classpath
.classpath
**/.project
.project
**/.settings
.settings